body {
    overflow-x: hidden;
  }

.FotoMain-1{
    width: 200px;
}

nav{
    display: flex;
}

.gril{
    color: rgb(255, 230, 0);
}

.sushi{
    color: rgb(255, 166, 0);
}

.ampersand{
    color: rgb(245, 223, 223);
}

.descricaoP{
    text-align: justify;
}

.divCards{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.itemsCards{
    padding: 20px;
    text-align: center;
    min-height: 500px;
}

.containerComidas{
    background-color: rgb(245, 223, 223);
}

.divComidas{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
}

.divComidas2{
    padding: 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.divComidas3{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
}

.divComidas4{
    padding: 50px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.FotoComidas{
    width: 500px;
    height: 300px;
    border-radius: 20px;
}

.FotoComidas:hover{
    transform: scale(1.05);
    box-shadow: 5px 10px 10px rgb(88, 87, 87);
}

.itemsComidas{
    width: 500px;
}