/* Banner */
.fotoHeadear {
    height: 60vh;
    width: 100vw;
    background-image: url("../assets/Nav/baner.jpg");
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}
