/* Banner */
header {
    height: 60vh;
    background-image: url('/assets/Nav/baner.jpg');
    background-size: cover;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}